tmp1/
1;95;0c__pycache__/
*.log
*.out
*.error
cout*.txt
plots/
dataVsMCDist_tmp/
pickles/
.conda/
corrections/*.root
*~
.__*
.vscode/settings.json
test.py
test.root
localhost:1080
scripts/datasetNamesForRucioRequest.txt
__pycache__/SamplesCrosssection_Catalogue.cpython-310.pyc
__pycache__/htoaa_Settings.cpython-310.pyc
__pycache__/*
__pycache__/DASQueryHelper.cpython-310.pyc
__pycache__/SamplesCrosssection_Catalogue.cpython-310.pyc
__pycache__/Samples_2016postVFP_Catalogue.cpython-310.pyc
__pycache__/Samples_2016preVFP_Catalogue.cpython-310.pyc
__pycache__/Samples_2017_Catalogue.cpython-310.pyc
__pycache__/Samples_2018_Catalogue.cpython-310.pyc
